body {
    background-color: #d9effa;
}

#navbar-text {
    font-size: 20px;
    font-weight: 800;
}

.nav-item.nav-link {
    font-size: 19px;
}

.card {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#register_success {
    height: 20%;
    display: none;
    margin-left: auto;
    margin-right: auto;

}

#register_fail {
    height: 20%;
    display: none;
    margin-left: auto;
    margin-right: auto;

}

p {
    font-size: 30px;
}

.title {
    font-weight: 800;
}

#waiting {
    font-weight: 800; 
    text-align: center;
    margin-top: 7%;
}