<% include partials/header%>

    <div class="container">
        <div class="card">
         <p><span class="title">Barcode Id: </span><span id="id"></span></p>
         <p><span class="title">Name: </span><span id="name"></span></p>
        </div>
    </div>
    <script src="jquery.js"></script>
    <script>
        $('#breakfast').addClass('active')
     //   $('#registrations').removeClass('active')
    </script>
<% include partials/footer%>