<% include partials/header%>

    <div class="container">
        <div class="card">
         <p><span class="title">Barcode Id: </span><span id="id"></span></p>
         <p><span class="title">Name: </span><span id="name"></span></p>
        </div>
    </div>
    <script src="jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
     //!
    <script>
      const socket = io("http://localhost:8080");
      function sendMsg() {
        socket.emit("message", "//barcodestring");
     //!    
        $('#breakfast').addClass('active')
     //   $('#registrations').removeClass('active')
    </script>
<% include partials/footer%>
