<% include partials/header%>
    
    <div class="container">
        <div class="card">
            <p><span class="title">Barcode Id: </span><span id="id"></span></p>
            <p><span class="title">Name: </span><span id="name"></span></p>
        </div>
    </div>
    </br>
    <script src="jquery.js"></script>
    //!Something needs to trigger sendBar()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      const socket = io("http://localhost:8080");
      function sendBar() {
        socket.emit("message", "//stringbarcode");
      //! 
      $('#Dinner').addClass('active')
       // $('#registration').removeClass('active')
    </script>
<% include partials/footer%>
