<% include partials/header%>
    <div class="container">
        <div class="card">
            <p><span class="title">Barcode Id: </span><span id="idl"></span></p>
          <p><span class="title">Name: </span><span id="namel"></span></p>
        </div>
    </div>
    <script src="jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
      //!Something needs to trigger sendBar()
      const socket = io("http://localhost:8080");
      function sendBar() {
        socket.emit("message", "//stringbarcode");
      }  
        $('#lunch').addClass('active')
        //$('#registrations').removeClass('active')
    </script>
<% include partials/footer%>
