<% include partials/header%>
    <p id="waiting">Waiting for Next Person...</p>

    <div class="container">
        <div class="card">
            <p><span class="title">Barcode Id: </span><span id="id"></span></p>
            <p><span class="title">Name: </span><span id="name"></span></p>
        </div>
    </div>
    </br>
    <img id="register_success" src="success.png">
    <img id="register_fail" src="failure.png">

    <script src="jquery.js"></script>
    <script>
      $('#lunch').addClass('active')
      $('#dinner').removeClass('active')
      $('#registrations').removeClass('active')
      $('#lns').removeClass('active')
      $('#breakfast').removeClass('active')
  </script>
<% include partials/footer%>
